/****************************************************************************************
										GENERAL
*****************************************************************************************/
.wrap{
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}

.site-logo img{
	height: 60px;
	width: 60px;
}


/****************************************************************************************
								PHONES - SMALL SCREENS
*****************************************************************************************/
.title-bar{
	background-color: #008000;
	height: 60px;
	padding-top: 17px;
}

#offCanvas{
	background-color: #008000;
	padding: 10px;
}

#offCanvas li {
	display: block;
	list-style: none;
}

#offCanvas a {
	color: rgba(255,255,255,0.8);
	font-weight: bold;
	line-height: 2;
}

#offCanvas a img {
	width: 60px;
	height: 60px;
}

.js-off-canvas-exit{
	background: rgba(255,255,255,0.5);
}


/****************************************************************************************
								DESKTOP - SMALL SCREENS
*****************************************************************************************/
.nav-desktop{
	background-color: #008000;
	height: 80px;
	padding: 0;
}

.site-logo a{
	line-height: 80px;
}

.nav-desktop .menu-desktop{
	line-height: 80px;
	background-color: transparent;
}

.menu > li > a {
	display: inline-block;
	line-height: 80px;
	padding-top: 0;
	padding-bottom: 0;
	color: white;
}

.menu > li > a:hover {
	background-color: rgba(255,255,255, 0.1);
}


/****************************************************************************************
									HERO
*****************************************************************************************/
.hero{
	background-color: #eaeaea;
	padding-bottom: 20px;
	padding-top: 50px;
	padding-left: 0px;
	padding-right: 0px;
	height: 400px;
	background-image: url(../images/herobackground1.png);
}

.hero h1{
	color: rgba(255,255,255,0.8);
}

.hero h3{
	color: rgba(255,255,255,0.8);
}

.hero h5{
	color: rgba(200,0,255,0.8);
}

.hero img {
	width: 350px;
}

.hero #contactButton{
	background-color: #C800FF;
}


/****************************************************************************************
									MAIN
*****************************************************************************************/
.main{
	padding-bottom: 20px;
	padding-top: 50px;
	padding-left: 0px;
	padding-right: 0px;
}

.main h1,h2,h3,h4,h5,p {
	color: rgba(0,0,0,0.8);
}

#realworldtext {
	font-family: digital;
	font-weight: bold;
}


/****************************************************************************************
									FOOTER
*****************************************************************************************/
footer{
	background-color: #101010;
	padding-bottom: 20px;
	padding-top: 50px;
	padding-left: 0px;
	padding-right: 0px;
}

footer h4{
	color: rgba(255,255,255,0.8);
	font-size: 1.3em;
}

footer hr {
	border-color: rgba(255,255,255,0.1);
	margin: 5px 0;
}

footer a{
	display: block;
	color: rgba(255,255,255,0.6);
}

footer a span{
	font-weight: bold;
	color: rgba(255,255,255,0.3);
}

footer a:hover{
	color: rgba(255,255,255,0.8);
}



/****************************************************************************************
								MEDIA QUERIES
*****************************************************************************************/
@media (max-width: 639px){
	.nav-desktop{
		display: none;
	}
}

@media (max-width: 875px){
	.hero h1, .hero p{
		width: 100%;
	}
}