/*******************************************************************************/
/*									MISC										*/
/********************************************************************************/


/********************************************************************************/
/*									NAVBAR										*/
/********************************************************************************/
/* Shrink the nav bar when scrolling */
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.navbar-default .navbar-collapse{
	/*background-color: #ccff99;*/
	background-color: #EAEAEA;
}

.navbar {
	/*background-color: #ccff99;*/
	background-color: #EAEAEA;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: rgba(255,255,255,0.4);
}

.navbar-default .navbar-nav>li>a{
	color: rgba(0,0,0,0.8);
}

/********************************************************************************/
/*									GENERAL										*/
/********************************************************************************/

section{
	padding-top: 100px;
	padding-bottom: 100px;
}

/*center within div*/
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    display: block;
}

.section-heading-hr{
    border-top: 1px solid #CCCCCC;
}

.section-subheading-hr{
    border-top: 1px solid #EEEEEE;
}

a {
	color: #135F20;
}


/*********************** OVERRIDE BUTTONS	************************/ 
.btn-primary{
	background-color: #15A12D;
	border-color: #15A12D;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.hover, .btn-primary.active:hover, .btn-primary.focus:active{
	background-color: #135F20;
	border-color: #135F20;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
	background-color: #135F20; 
	border-color: #135F20; 
}

.btn-primary:active:focus {
	background-color: #15A12D;
	border-color: #15A12D;
}

.btn-info{
	background-color: #A57AB8;
	border-color: #A57AB8;
}

.btn-info:active:focus {
	background-color: #A57AB8;
	border-color: #A57AB8;
}

.btn-info:hover, .btn-info:focus, .btn-info:active{
	background-color: #7B5D88;
	border-color: #7B5D88;
}

/********************TABS ***************************/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #15A12D;
	border-color: #15A12D;	
}

/********************************************************************************/
/*									HERO/INTRO									*/
/********************************************************************************/
header {
	padding-top: 250px;
	padding-bottom: 200px;
	background-image: url("../image/background_image/bg2.png");
}

header h1 {
	color: rgba(255,255,255, 0.9);
}

/********************************************************************************/
/*									SECTION - ABOUT								*/
/********************************************************************************/
.section-about{
	background-color: #FBFBFB;
}

/********************** profile card ******************/
.section-about .profile-card{
	background-color: #EAEAEA;
	box-shadow: 10px 10px 5px #888888;

}

/*.section-about .profile-card table>tbody>tr>th{
	width: 120px;
}*/

/********************* accordian info *****************/
.section-about .text-position-center {
	/*padding-top: 30px;*/
	line-height: 30px;
}

.section-about .panel-heading{
	cursor: pointer;
	background-color: #15A12D;
}

.panel-heading:hover{
	background-color: #135F20;
	border-color: black;
}

.section-about .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a{
	color: rgba(255,255,255,0.9);
}

.section-about img.gamer-thumbnail {
	height: 120px;
}

@media only screen and (max-width: 1098px) {
	.section-about img.gamer-thumbnail {
		height: 60px;
		width: 60px;
	}

	.section-about img.western-logo {
		height: 120px;
		width: 120px;
	}

	.section-about img.profile-picture {
		height: 200px;
		width: 200px;
	}

	.section-about img.camp-image {
		height: 120px;
		width: 200px;
	}
}

/*****************************		IMAGE GALLERY	*******************************/

.section-about .thumbnail {
	width: 200px;
	height: 150px;
	margin: 10px auto;
}

.section-about .thumbnail>img {
	height: 100%;
}


/********************************************************************************/
/*									SECTION - EXPERIENCE								*/
/********************************************************************************/
.section-experience{
	background-color: #FBFBFB;
}

.section-experience .experience-item {
	margin: 2px auto;
	float: none;
	height: auto;
	width: 300px;
}

.section-experience img.experience-image-preview {
	width: 300px;
	height:200px;
}

/********************************************************************************/
/*									SECTION - RESUME								*/
/********************************************************************************/
.section-resume{
	background-color: #FBFBFB;
}


/************************PDF*************************/
.section-resume .resume-object {
	height: 700px;
	width: 90%;
	display:block;
	margin:0 auto;
}

/************************HTML*************************/
.section-resume .resume-html {
	background-color: #EAEAEA;
	box-shadow: 10px 10px 5px #888888;
	padding-top: 40px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 40px
}

.section-resume .resume-contact {
	margin-top: 58px;
}

.section-resume img.resume-picture {
	width: 45%;
}

.section-resume .certificate-card{
	border: 3px solid;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.section-resume #HTMLResume > div:nth-child(1) > div.col-lg-4.resume-contact{
	padding-top: 57px;
	padding-bottom: 0px;
}
.section-resume img.certification-image {
	width: 120px;
	height: 90px;
	margin: auto;
	padding: 0;
}

.section-resume .certification-text{
	padding-top: 15px;
}

.section-resume .resume-heading-hr {
	border-color: #888888;
	margin-top: 5px;
	margin-bottom: 5px;
}

.section-resume .resume-subheading-hr {
	border-color: #BBBBBB;
	margin-top: 2px;
	margin-bottom: 2px;
}

.section-resume a.tab-btn-resume{
	background-color: #EAEAEA;
	border: 1px solid;
}

.section-resume .progress{
	border: 1px solid black;
	margin-top: 20px;
	/*box-shadow: 5px 5px 2px #888888;*/
}


/********************************************************************************/
/*									SECTION - CONTACT								*/
/********************************************************************************/
.section-contact{
	background-color: #FBFBFB;

}

/********************************************************************************/
/*									FOOTER										*/
/********************************************************************************/
footer {
	background-color: black;
	padding-top: 50px;
	padding-bottom: 50px;
}

/*ul.social-buttons li a:hover{
	background-color: #ccff99;
}

ul.social-buttons li a:focus{
	background-color: #ccff99;
}
*/
footer hr{
	border-color: rgba(255,255,255,0.2);
	margin-bottom: 5px;
}

footer h4{
	color: rgba(255,255,255,0.5);;	
}

footer a{
	color: rgba(255,255,255,0.4);
}

footer a:hover, footer a:focus{
	color: #ccff99;
}

/*footer .fa {
	color: #144a96;
}